<div class="modal-header">
  <h2>Microservicios Spring Cloud</h2>
  <button class="btn-close" (click)="bsModalRef.hide()"></button>
</div>

<div class="modal-body">
  <h3 class="mt-2">Descripción</h3>
  <p>Backend para una Aplicación Web simple que implementa una arquitectura basada en microservicios utilizando para ello
    Java Spring Boot 3 y Spring Cloud.
  </p>
  <h4>Elementos utilizados:</h4>
  <p>Rest Template</p>
  <p>Open Feign</p>
  <p>Config client</p>
  <p>Eureka</p>
  <p>API Gateway</p>
  <p>Circuit Breaker</p>
  <h5>Repositorio de código en el siguiente <a href="https://github.com/jcaido/microservices-practice" target="_blank">enlace</a></h5>
  <hr>
  <div class="d-flex flex-wrap">
    <div class="tag me-2 mb-1" style="background-color: #69B729;">Java Spring Boot</div>
    <div class="tag me-2 mb-1" style="background-color: #396C94;">Spring Cloud</div>
    <div class="tag me-2 mb-1" style="background-color: #0895E7;">Docker</div>
  </div>
</div>
