<div class="card shadow text-center" style="max-width: 350px; min-width: 350px; min-height: 320px;">
  <div class="card-body">
    <h5 class="card-title" style="min-height: 50px;">Microservicios Spring Cloud</h5>
    <p class="card-text">Implementación de una arquitectura de microservicios</p>
    <button class="btn btn-primary" (click)="OpenMicroserviciosModal()">Ver más</button>
  </div>

  <div class="card-footer">
    <div class="d-flex flex-wrap justify-content-left" style="margin-bottom: 5px;">
      <div>
        <img src="assets/spring.svg" alt="" width="25" height="25" style="margin-right: 10px; position: relative; top: 1px;">
      </div>
      <div class="tag me-2 mb-1" style="background-color: #69B729;">
        Java Spring Boot
      </div>
    </div>

    <div class="d-flex flex-wrap justify-content-left" style="margin-bottom: 5px;">
      <div>
        <img src="assets/spring-cloud1.png" alt="" width="25" height="25" style="margin-right: 10px; position: relative; top: 1px;">
      </div>
      <div class="tag me-2 mb-1" style="background-color: #69B729;">
        Spring Cloud
      </div>
    </div>

    <div class="d-flex flex-wrap justify-content-left" style="margin-bottom: 5px;">
      <div>
        <img src="assets/docker1.svg" alt="" width="25" height="25" style="margin-right: 10px; position: relative; top: 1px;">
      </div>
      <div class="tag me-2 mb-1" style="background-color: #0895E7;">
        Docker
      </div>
    </div>
  </div>
</div>
