<div class="card shadow text-center" style="max-width: 350px; min-width: 350px; min-height: 320px;">
  <div class="card-body">
    <h5 class="card-title" style="min-height: 50px;">{{ project.name }}</h5>
    <p class="card-text">{{ project.summary }}</p>
    <button class="btn btn-primary" (click)="OpenProjectModal()">Ver más</button>
  </div>

  <div class="card-footer">

      @for(tag of project.tags; track project.id) {
        <div class="d-flex flex-wrap justify-content-left" style="margin-bottom: 5px;">
          <div>
            <img src={{tag.icon}} alt="" width="25" height="25" style="margin-right: 10px; position: relative; top: 1px;">
          </div>
          <div class="tag me-2 mb-1" [style.background-color]="tag.color">
            {{tag}}
          </div>
        </div>
      }

  </div>
</div>
