<div class="container">
  <div class="row">
    <div class="col-lg shadow border m-1">
      <div class="text-center">
        <h2>About Me</h2>
        <img src="assets/fotoPersonal.jpeg" alt="profile picture" width="200" height="200" class="rounded-circle">
        <p>
          Me licencié en Ciencias Empresariales, mientras trabajaba como contable,
          descubrí la programación por casualidad y comencé a hacer pequeñas aplicaciones
          que me facilitaran las cosas en mi trabajo diario. Posteriormente profundizé en
          su estudio a través de varios Bootcamps. Deseo encontrar mi primera oportunidad
          laboral para crecer como desarrollador y poder aportar valor añadido junto con
          mis conocimientos derivados de mi experiencia en el mundo de la empresa.
        </p>
      </div>
    </div>

    <div class="col-lg shadow border m-1">
      <div class="text-center">
        <h2>Featured Projet</h2>
        <h4>{{featuredProject.name}}</h4>
      </div>
    </div>
  </div>
</div>
