<div class="container">
  <div class="row">
    <div class="col-lg shadow border m-1">
      <div class="text-center">
        <h2>Sobre mi</h2>
        <img src="assets/fotoPersonal.jpeg" alt="profile picture" width="190" height="190" class="rounded-circle">
        <p style="margin-top: 10px;">
          Me gradué en Ciencias Empresariales y trabajé durante muchos años como contable.
          Descubrí la programación por casualidad y comencé a hacer pequeñas aplicaciones
          que me facilitaran las cosas en mi trabajo diario. Posteriormente profundizé en
          su estudio a través de varios Bootcamps. Deseo encontrar mi primera oportunidad
          laboral para crecer como desarrollador y poder aportar valor añadido junto con
          mis conocimientos derivados de mi experiencia en el mundo de la empresa.
        </p>
      </div>
    </div>

    <div class="col-lg shadow border m-1">
      <div class="text-center">
        <h2>Proyecto Destacado</h2>
        <h4>Taller de Reparación de Vehículos</h4>
        <app-carousel [project]="featuredProject"></app-carousel>
        <p class="mt-4">Aplicación para la gestión de un taller de reparación de vehículos</p>
        <p>Visita la seccion <b>Portfolio</b> para más información </p>
      </div>
    </div>
  </div>
</div>
