<div class="card shadow text-center" style="max-width: 350px; min-width: 350px; min-height: 320px;">
  <div class="card-body">
    <h5 class="card-title" style="min-height: 50px;">Mi Polideportivo</h5>
    <p class="card-text">Aplicación para la gestión de reservas de un polideportivo</p>
    <button class="btn btn-primary" (click)="OpenPolideportivoModal()">Ver más</button>
  </div>

  <div class="card-footer">
    <div class="d-flex flex-wrap justify-content-left" style="margin-bottom: 5px;">
      <div>
        <img src="assets/spring.svg" alt="" width="25" height="25" style="margin-right: 10px; position: relative; top: 1px;">
      </div>
      <div class="tag me-2 mb-1" style="background-color: #69B729;">
        Java Spring Boot
      </div>
    </div>

    <div class="d-flex flex-wrap justify-content-left" style="margin-bottom: 5px;">
      <div>
        <img src="assets/postgreSql.svg" alt="" width="25" height="25" style="margin-right: 10px; position: relative; top: 1px;">
      </div>
      <div class="tag me-2 mb-1" style="background-color: #396C94;">
        PostGreSql
      </div>
    </div>

    <div class="d-flex flex-wrap justify-content-left" style="margin-bottom: 5px;">
      <div>
        <img src="assets/angular.svg" alt="" width="25" height="25" style="margin-right: 10px; position: relative; top: 1px;">
      </div>
      <div class="tag me-2 mb-1" style="background-color: #C50836;">
        Angular
      </div>
    </div>
  </div>

</div>
